<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    <title>お気に入り一覧</title>
  </head>
  <body>
    <div class="samuraitravel-wrapper">
      <!-- ヘッダー -->
      <div th:replace="~{fragment :: header}"></div>

      <main>
        <div class="container samuraitravel-container pb-5">
          <div class="col">
            <!-- お気に入りの民宿の数を表示 -->
            <div class="d-flex justify-content-between flex-wrap mb-3">
              <p class="fs-5 mt-3 mb-3">お気に入り一覧</p>
            </div>

            <!-- お気に入りの民宿がある場合に表示 -->
            <div class="mb-3" th:each="house : ${favorites}">
              <!-- 詳細ページへのリンクをカード全体に設定 -->
              <a
                th:href="@{/houses/__${house.id}__}"
                class="link-dark samuraitravel-card-link"
              >
                <div class="card h-100">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img
                        th:if="${house.imageName}"
                        th:src="@{/storage/__${house.imageName}__}"
                        class="card-img-top samuraitravel-horizontal-card-image"
                        alt="店舗画像"
                      />
                      <img
                        th:unless="${house.imageName}"
                        th:src="@{/images/noImage.png}"
                        class="card-img-top samuraitravel-horizontal-card-image"
                        alt="NO IMAGE"
                      />
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h3
                          class="card-title mb-3"
                          th:text="${house.name}"
                        ></h3>

                        <hr class="mb-3" />

                        <p class="card-text mb-2">
                          <span th:text="${house.description}"></span>
                        </p>

                        <p class="card-text mb-2">
                          <small
                            class="text-muted"
                            th:text="${'〒' + house.postalCode}"
                          ></small>
                          <small
                            class="text-muted"
                            th:text="${house.address}"
                          ></small>
                        </p>

                        <p class="card-text">
                          <span
                            th:text="${#numbers.formatInteger(house.price, 1, 'COMMA') + '円 / 泊'}"
                          ></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <!-- ページネーション -->
            <div
              th:if="${favorites.totalPages > 1}"
              class="d-flex justify-content-center"
            >
              <nav aria-label="お気に入りページ">
                <ul class="pagination">
                  <li class="page-item">
                    <span
                      th:if="${favorites.isFirst()}"
                      class="page-link disabled"
                      >前</span
                    >
                    <a
                      th:unless="${favorites.isFirst()}"
                      th:href="@{/favorites/list(page=${favorites.number - 1})}"
                      class="page-link samuraitravel-page-link"
                      >前</a
                    >
                  </li>
                  <li
                    th:each="i : ${#numbers.sequence(0, favorites.totalPages - 1)}"
                    class="page-item"
                  >
                    <span
                      th:if="${i == favorites.number}"
                      class="page-link active samuraitravel-active"
                      th:text="${i + 1}"
                    ></span>
                    <a
                      th:unless="${i == favorites.number}"
                      th:href="@{/favorites/list(page=${i})}"
                      class="page-link samuraitravel-page-link"
                      th:text="${i + 1}"
                    ></a>
                  </li>
                  <li class="page-item">
                    <span
                      th:if="${favorites.isLast()}"
                      class="page-link disabled"
                      >次</span
                    >
                    <a
                      th:unless="${favorites.isLast()}"
                      th:href="@{/favorites/list(page=${favorites.number + 1})}"
                      class="page-link samuraitravel-page-link"
                      >次</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </main>

      <!-- フッター -->
      <div th:replace="~{fragment :: footer}"></div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
  </body>
</html>
